.mirrorContainer{
}
.mirrorContainer .mirror{
    position: absolute;
    top: 50%;
    right: 0.3rem;
    transform: translateY(-47%);
    height: 3.6rem;
    width: 3.8rem;
    background: url(../images/mirror/newMirror\(enhanced\).png) no-repeat bottom;
    background-size: 90%;

}
.mirrorContainer .mirror .content{
    position: absolute;
    left: 0.18rem;
    height: 3.6rem;
    width: 4rem;
}

.mirrorContainer .mirror .roleBox{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-68%,-40%);
    height:1.3rem;
    width: 1.3rem;
    background:  no-repeat 50% 50%;
    background-size: 110%;
    border-radius: 100%;
    /* background:  no-repeat center;
    background-size: 145%; */
    /* filter: drop-shadow(0 0 .25rem #f6f8f6)
    drop-shadow(0 0 .5rem #ebecec); */
}

.mirrorContainer .mirror .content .avatar {
    position: absolute;
    height: .43rem;
    width: .43rem;
    background: url(../images/mirror/container.svg) no-repeat center;
    background-size: 80%;
    
}
.mirrorContainer .mirror .content .avatar:nth-child(1){
    top: .14rem;
    left: 1.7rem;
}
.mirrorContainer .mirror .content .avatar:nth-child(2){
    top: .23rem;
    left: 1.19rem;
}
.mirrorContainer .mirror .content .avatar:nth-child(3){
    top: .23rem;
    left: 2.2rem;
}
.mirrorContainer .mirror .content .avatar:nth-child(4){
    top: .5rem;
    left: 0.75rem;
}
.mirrorContainer .mirror .content .avatar:nth-child(5){
    top: .5rem;
    left: 2.65rem;
    
}
.mirrorContainer .mirror .content .avatar:nth-child(6){
    top: 0.87rem;
    left: .38rem;
}
.mirrorContainer .mirror .content .avatar:nth-child(7){
    top: 0.87rem;
    left: 3rem;
}
.mirrorContainer .mirror .content .avatar:nth-child(8){
    top: 1.3rem;
    left: .16rem;
}
.mirrorContainer .mirror .content .avatar:nth-child(9){
    top: 1.3rem;
    left: 3.22rem;
}
.mirrorContainer .mirror .content .avatar:nth-child(10){
    top: 1.8rem;
    left: 0.09rem;
}
.mirrorContainer .mirror .content .avatar:nth-child(11){
    top: 1.8rem;
    left: 3.3rem;
}
.mirrorContainer .mirror .content .avatar:nth-child(12){
    top: 2.3rem;
    left: 0.18rem;

}
.mirrorContainer .mirror .content .avatar:nth-child(13){
    top: 2.3rem;
    left: 3.21rem;

}
.mirrorContainer .mirror .content .avatar:nth-child(14){
    top: 2.75rem;
    left: .4rem;
    
}
.mirrorContainer .mirror .content .avatar:nth-child(15){
    top: 2.75rem;
    left: 3rem;

}
.mirrorContainer .mirror .content .avatar:nth-child(16){
    top: 3.1rem;
    left: 0.75rem;

}
.mirrorContainer .mirror .content .avatar:nth-child(17){
    top: 3.1rem;
     left: 2.65rem;

}
.mirrorContainer .mirror .content .avatar:nth-child(18){
    top: 3.35rem;
    left: 1.2rem;

}

.mirrorContainer .mirror .content .avatar:nth-child(19){
    top: 3.35rem;
     left: 2.2rem;

}
.mirrorContainer .mirror .content .avatar:nth-child(20){
    top: 3.42rem;
    left: 1.71rem;
}
.mirrorContainer .mirror .content .avatar:nth-child(21){
    top: 0.77rem;
    left: 1.7rem;
}
.mirrorContainer .mirror .content .avatar:nth-child(22){
    top: 0.95rem;
     left: 1.13rem;
}
.mirrorContainer .mirror .content .avatar:nth-child(23){
    top: 0.95rem;
     left: 2.29rem;
}
.mirrorContainer .mirror .content .avatar:nth-child(24){
    top: 1.45rem;
    left: 0.75rem;
}
.mirrorContainer .mirror .content .avatar:nth-child(25){
    top: 1.45rem;
     left: 2.72rem;

}
.mirrorContainer .mirror .content .avatar:nth-child(26){
    top: 2.12rem;
    left: 0.73rem;

}
.mirrorContainer .mirror .content .avatar:nth-child(27){
    top: 2.12rem;
    left: 2.7rem;
}
.mirrorContainer .mirror .content .avatar:nth-child(28){
    top: 2.6rem;
    left: 1.1rem;
}
.mirrorContainer .mirror .content .avatar:nth-child(29){
    top: 2.6rem;
    left: 2.3rem;
}
.mirrorContainer .mirror .content .avatar:nth-child(30){
    top: 2.8rem;
    left: 1.7rem;
}
.mirrorContainer .mirror .content .avatar:hover{
    cursor: pointer;
    filter: drop-shadow(0 0 .25rem #C3FFB459)
    drop-shadow(0 0 .5rem #5BFFC4);
}
.mirrorContainer .role{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(20%,-55%);
    height: 5rem;
    width: 3.5rem;
    background-size: 50%;
}

.mirrorContainer .footer{
    display: flex;
    justify-content: space-between;
   position: absolute;
   bottom: 0;
   height: 0.4rem;
   width: 100%;
   border-top:1px solid rgb(246, 255, 0);
}
.mirrorContainer .footer .kof{
    position: absolute;
    top: 0;
    right: 2.1rem;
    width: 2.2rem;
    height: 0.38rem;
    background: url(../images/box1/logo.png) no-repeat center;
    background-size: 75%;
}
.mirrorContainer .footer .brand{
    display: flex;
   color: white;
   font-size: 0.1rem;
   margin-right: 0.2rem;
   align-items: center;
 }
 .mirrorContainer .footer .link{
   display: flex;
   height: 100%;
   width: 2.3rem;
   align-items: center;
   font-size: 0.1rem;
   text-align: center;
 }
 .mirrorContainer .footer .link a{
    flex: 1;
    color: white;
  }
  .mirrorContainer .footer .link a:nth-child(3){
    margin-left: -0.2rem;
  }
  #roleBox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-68%,-40%);
    height:1.3rem;
    width: 1.3rem;
    background:  no-repeat 50% 50%;
    background-size: 110%;
    border-radius: 100%;
}
.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
    opacity: 1;
    border-radius: 100%;
}
.image.hidden {
    opacity: 0; /* 隐藏的图片 */
}